@model List<MariaMorales.Models.Paciente>

@{
    ViewData["Title"] = "Hello";
}

 @*<h1 class=text-danger>pacientes</h1>

<h1 class=text-danger>Lista de pacientes</h1>

<div>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    Nombre Cliente
                </th>

                <th>
                    Direccion
                </th> 

                 <th>
                    Telefono
                </th> 

                <th>
                    Edad
                </th> 

            </tr>
        </thead>

        <tbody>
           @{ 
            foreach (var item in Model) 
             {
             <tr>
             <td>@item.Nombre</td>
              <td>@item.Direccion</td>
               <td>@item.Telefono</td>
                <td>@item.Edad</td>
             </tr>
              }
           }
        </tbody>

    </table>
</div>

<div>
    <a class="btn btn-outline-primary" asp-action="Edit">Crear nuevas</a>
</div>*@

<div>
    <a class="btn btn-outline-primary" asp-action="Cliente">Cliente</a>
</div>

@*@DateTime.Now.ToShortDateString();*@